header {
  padding: 40px;
  background-color: rgb(17, 124, 143);
}
header h1 {
  text-align: center;
  font-size: 40px;
  color: #fcfcfc;
}

footer {
  background-color: rgb(17, 124, 143);
  overflow: hidden;
}

footer a {
  text-decoration: none;
  padding: 20px;
  text-align: center;
  float: left;
  color: white;
}
